.cache/
.dotnet/
.eclipse/
.idlerc/
.ms-ad/
.p2/
.qucs/
.VirtualBox/
.virtualenvs/
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
INtelGraphicsProfiles/
Links/
Music/
NTUSER.AppData
projects/
pollster_project/
ntuser.ini 
ntuser.dat.LOG2
ntuser.dat.LOG1
eclipse/
eclipse-workspace/
django webapps demo/
.bash_history
.gitconfig
.viminfo
NTUSER.DAT 
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
OneDrive/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
-1.14-windows.xml
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
Templates/
Application Data/
Cookies/
Documents/
NetHood/
My Documents/
Local Settings/
Start Menu/
SendTo/
Recent/
PrintHood/
